.container {
  padding-top: var(--header_height);
}

.recentContent {
  margin: 2.5rem 0;
}

.contentTitle {
  margin-bottom: 1.5rem;
  padding: var(--padding_desktop);
  font-size: 2rem;
  color: var(--white);
}

.slider {
  position: relative;
  padding: 0 50px;
  overflow: hidden;
}

.contentList {
  display: flex;
  transition: all 0.3s ease;
}

.slider:hover .prevBtn {
  display: flex;
}

.slider:hover .nextBtn {
  display: flex;
}

.content {
  position: relative;
  min-width: 20%;
  padding: 0 1vw;
}

.content:hover .bookDescription {
  opacity: 1;
}

.thumbnail {
  width: 100%;
}

.bookDescription {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 90%;
  height: 100%;
  padding: 0.8rem;
  color: var(--white);
  background-color: var(--bg_opacity_black);
  transition: all 0.3s ease;
}

.bookTitle {
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 700;
}

.bookExplanation {
  display: flex;
  margin-bottom: 8px;
  font-size: 1rem;
  color: var(--white);
}

.descriptionIcon {
  margin-right: 5px;
}

.prevBtn,
.nextBtn {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  background-color: var(--bg_opacity_black);
  cursor: pointer;
  z-index: 1;
}

.prevBtn {
  left: 0;
}

.nextBtn {
  right: 0;
}

.angle {
  font-size: 3rem;
  color: var(--white);
}
