/* color */
:root {
  /* color */
  --black: #242424;
  --light_black: #555555;
  --gray: #6f6f6f;
  --light_gray: #f7f7f7;
  --white: #ffffff;
  --yellow: #ffeb60;
  --brown: #9f9a8f;
  --light_brown: rgba(167, 163, 154, 0.9);

  /* btn */
  --btn_border: var(--black);
  --clicked_btn_Bg: var(--black);

  /* bg */
  --bg_white: var(--white);
  --bg_brown: var(--brown);
  --bg_light_brown: var(--light_brown);
  --bg_yellow: var(--yellow);

  /* ----------------------- */
}
