/* color */
:root {
  /* color */
  --black: #242424;
  --light_black: #555555;
  --gray: #6f6f6f;
  --light_gray: #f7f7f7;
  --white: #ffffff;
  --yellow: #ffeb60;
  --brown: #9f9a8f;
  --light_brown: rgba(167, 163, 154, 0.9);
  --opacity_black: rgba(20, 20, 20, 0.7);

  /* btn */
  --btn_border: var(--black);
  --clicked_btn_Bg: var(--black);

  /* bg */
  --bg_white: var(--white);
  --bg_brown: var(--brown);
  --bg_light_brown: var(--light_brown);
  --bg_yellow: var(--yellow);
  --bg_opacity_black: var(--opacity_black);

  /* ----------------------- */

  /* content size */
  --header_height: 65px;

  --width_desktop_lg: 1440px;
  --width_desktop_sm: 1140px;
  --width_tablet_lg: 960px;
  --width_tablet_sm: 720px;
  --width_mobile_lg: 540px;
  --width_mobile_sm: 320px;

  --padding_desktop: 10px 50px;
  --padding_tablet: 10px 20px;
}
