.container {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid var(--white);
  background-color: transparent;
}

.contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: var(--padding_desktop);
}

.logoImg {
  width: 2.8rem;
}

.loginBtn {
  padding: 0.8rem 1.8rem;
  border-radius: 100px;
  color: var(--light_black);
  background-color: var(--yellow);
  transition: all 0.3s ease;
  cursor: pointer;
}

.loginBtn:hover {
  box-shadow: 0px 0px 6px 0px var(--light_black);
}

.loginBtn:active {
  box-shadow: 0px 0px 20px 0px var(--light_black);
}
